<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="StoreCommEntities" connectionString="metadata=res://*/StoreCommModel.csdl|res://*/StoreCommModel.ssdl|res://*/StoreCommModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StoreComm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="UploadPath" value="\Uploads\" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="purcellcompliance@gmail.com" />
    <add key="Password" value="m2n1shlko" />
    <add key="Port" value="25" />
    <add key="GoogleConsoleAPIAccessKey" value="AIzaSyDLprSNzxV7aDRMGd1KjBSP6PS320XFLE8" />
    <add key="FirebaseSenderKey" value="506544097036" />
    <add key="FirebaseServerAPIKey" value="AIzaSyCFjYrZTMKpXjCzASSGbRN6DPeNFVTph7s" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2000000" />
    <trust level="Full" />
  </system.web>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="StoreCommBehaviourConfiguration" name="StoreCommunication.StoreCommServices">
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding" contract="StoreCommunication.IStoreCommServices"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StoreCommBehaviourConfiguration">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760"></binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept,Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000"></requestLimits>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
